---
import Layout from '~/layouts/PageLayout.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'FAQ',
};
---

<Layout metadata={metadata}>
  <!-- Hero Section -->
  <section style="text-align: center; padding: 2.5rem 2.5rem; background-color: #f0f8ff;">
    <div style="display: inline-block; position: relative;">
      <h1 style="font-size: 3rem; font-weight: bold; background: linear-gradient(to right, #07377e, #35a5c2); -webkit-background-clip: text; color: transparent; margin-bottom: 0px;">
        Frequently Asked Questions
      </h1>
    </div>
    <p style="color: #555; max-width: 800px; margin: 1rem auto; line-height: 1.6;">
    </p>
  </section>
 
 <!-- FAQs Widget ******************* --> 
<FAQs
    items={[
      {
        title: 'What do you even do in DECA?',
        description:
          'Landing page templates are pre-designed web page layouts that are specifically created to serve as a foundation for building effective landing pages. These templates are designed to capture the attention of visitors and guide them towards a specific action or goal, such as signing up for a newsletter, making a purchase, or downloading a resource.',
      },
      {
        title: 'What is regionals?',
        description:
          'Some of the advantages are that they provide a ready-to-use structure,  saving you significant time. Are designed with user-friendliness in mind and provide a cost-effective alternative, saving you money while still delivering a quality result.',
      },
      {
        title: 'How do I get to internationals?',
        description:
          'Yes, the templates allow you to preview them before making a purchase. There is a "Demo" button associated with each template.',
      },
      {
        title: 'What event should I choose?',
        description:
          'Advanced technical skills are not required to use a template, but having a basic understanding of web navigation and familiarity with using online tools can still be beneficial. If you have more specific customization needs, you might need to consult guides or reach out to customer support for assistance.',
      },
      {
        title: 'How can I prepare?',
        description:
          'No, the template comes with a single-use license, meaning you can use the template on one website or project only. Using the template on additional websites would require purchasing additional licenses.',
      },
      {
        title: 'What if I need help?',
        description:
          "The templates provides a comprehensive step-by-step guide that walk you through the customization process. If you still have doubts, you can reach out to our customer support team. They can answer your questions, provide guidance on customization, and address any issues you're facing.",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-30 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>



</Layout>
