---
import Layout from '~/layouts/PageLayout.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'FAQ',
};
---

<Layout metadata={metadata}>
  <!-- Hero Section -->
  <section style="text-align: center; padding: 2.5rem 2.5rem; background-color: #f0f8ff;">
    <div style="display: inline-block; position: relative;">
      <h1 style="font-size: 3rem; font-weight: bold; background: linear-gradient(to right, #07377e, #35a5c2); -webkit-background-clip: text; color: transparent; margin-bottom: 0px;">
        Frequently Asked Questions
      </h1>
    </div>
    <p style="color: #555; max-width: 800px; margin: 1rem auto; line-height: 1.6;">
    </p>
  </section>
 
 <!-- FAQs Widget ******************* --> 
<FAQs
    items={[
    {
        title: 'What do you even do in DECA?',
        description:
          'We compete at the regional, state, and international level in business case studies (roleplays), prepared presentations, and simulations ',
      },
      {
        title: 'What is regionals?',
        description:
          'Regionals is a low-stakes competitions for students from chapters across Montgomery County, where you can compete in one of four different roleplay events and win medals. You DO NOT need to place at regionals to attend states.',
      },
      {
        title: 'How do I get to internationals?',
        description:
          'You must place 1st, 2nd or 3rd in a roleplay event OR 1st or 2nd in your written event at states (SCDC) in February to qualify for internationals (ICDC).',
      },
      {
        title: 'How can I prepare for my roleplay?',
        description:
          'PRACTICE PRACTICE PRACTICE!! Find a sample roleplay for your event in Resources and go through it like the real thing. Record yourself and listen to it afterwards to see where you can improve. To gain business knowledge, go through the quizlet for your cluster in Resources.',
      },
      {
        title: 'How can I prepare for my test?',
        description:
          'PRACTICE PRACTICE PRACTICE!! Find the practice test for your cluster in Resources, set a timer, answer each question, and review each one you get wrong. Review the quizlet for your cluster in Resources to improve your understanding of business concepts.',
      },
      {
        title: 'What if I need help?',
        description:
          "We host bi-weekly training meetings on Thursdays in Room 158 where our training team discusses business concepts, roleplay scenarios, and practice questions. Feel free to email rmhs.deca.training@gmail.com or message our Discord with any questions.",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-30"></div>
    </Fragment>
  </FAQs>



</Layout>
