---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';
import { YouTube } from 'astro-embed';
import Steps from '~/components/widgets/Steps.astro';

import { YouTube } from 'astro-embed';


const metadata = {
  title: 'Home',
};

const heroBackgroundImage = "https://lh3.googleusercontent.com/pw/AP1GczO5o3TIs1gbqKgOhPwlItgErgCwUXw5qXoOUTgUkGh_5Sj5i-nIFZ0wS-3QAEISS4qQLk6e_VdBRsZbW0Jf7VVx797xl-XLg2MV3nWykO6Hvow1cY7I4xM7hi-MmkY63B90DFZRaE4j1JzCVAs6_M2RFw=w671-h839-s-no-gm?authuser=0";
---

<Layout metadata={metadata}>
  <Hero
    tagline="#1 Chapter in Maryland"
    backgroundImage={heroBackgroundImage}
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Join DECA',
        href: 'https://github.com/onwidget/astrowind',
      },
    ]}
    >
    <Fragment slot="title" >
    Richard Montgomery <span class="bg-gradient-title">DECA</span>
    </Fragment>

    <!
    <Fragment slot="additionalContent">
      <Stats
        stats={[
          { title: 'Members', amount: '170+' },
          { title: 'ICDC Qualifiers', amount: '49' },
          { title: 'Chapter in Maryland', amount: '#1' },
        ]}
      />
    </Fragment>
   -->
  </Hero>


<!-- Features2 Widget ************** -->

<Features2
  title='Why <span class="bg-gradient-title">DECA</span>?'
  subtitle={`DECA empowers you to develop <strong><span class="bg-gradient-title">business knowledge</span></strong>, leadership abilities, and communication skills while having fun and making friends. Join us to learn, compete, and even <strong><span class="bg-gradient-title">travel to Orlando</span></strong> for internationals. 
  It's a great way to build your resume. <br> <br> <strong><span class="bg-gradient-title">NO prior experience is required.</span></strong> There is a place for <strong><span class="bg-gradient-title">EVERYONE.</span></strong> We provide training. You can compete in business roleplays, prepared presentations, or gamified simulations.`}
  <br><br>
  >
  <Fragment slot="image">
    <YouTube id="m8bvnkiV_yo" title="DECA Membership Promo 2024-25" />
    <style is:inline>
      lite-youtube {
        margin: 0 auto;
        max-width: 80%;
      }
    </style>
  </Fragment>
  
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-30 dark:bg-transparent"></div>
  </Fragment>
</Features2>

  <!-- Features2 Widget ************** -->
<Features2
  items={[
    {
      title: 'Join our Email List',
      description:
        'Make sure you get every update about registration, meetings, and competitions.',
      icon: '',
      callToAction: {
        text: 'Email List',
        variant: 'primary',
        href: '',
        class: 'bg-primary hover:bg-secondary text-white py-2 px-6 rounded-md',
        icon: 'tabler:mail'
      }
    },
    {
      title: 'DECA 101',
      description:
        '<strong> <span class="bg-gradient-title">Are you a first-year member?</span></strong> <br> Learn everything about DECA from registration and competitions to choosing an event and practicing.',
      icon: '',
      callToAction: {
        text: 'Learn More',
        variant: 'primary',
        href: '/demos',
        class: 'bg-primary hover:bg-secondary text-white py-2 px-6 rounded-md',
        icon: 'tabler:link'
      }
    },
    {
      title: 'Join our Discord Server',
      description:
        'Chat with our members, ask questions, and stay updated on meetings and competitions.',
      icon: '',
      callToAction: {
        text: 'Join',
        variant: 'primary',
        class: 'bg-primary hover:bg-secondary text-white py-2 px-6 rounded-md',
        href: 'https://discord.gg/Gp3YmpDzQd',
        icon: 'tabler:brand-discord'
      }
    },
  ]
  }
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Features2>


<div class="flex justify-center items-start">
  <Steps
    id="resume"
    title="Upcoming Meetings"
    items={[
      {
        title:
          'Freshman BBQ <br /> <span class="font-normal">August 23rd, 2024</span> <br /> <span class="text-sm font-normal">RM Parking Lot</span>',
        description: ``,
        icon: 'tabler:calendar',
      },
      {
        title:
          'Interest Meeting <br /> <span class="font-normal">TBD</span> <br /> <span class="text-sm font-normal">Auditorium</span>',
        description: ``,
        icon: 'tabler:calendar',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />
   
  <Steps
    id="resume"
    title="Competition Dates"
    items={[
      {
        title:
        '<span class="text-primary">Regionals</span> <br /> <span class="font-normal">January 4th, 2025</span> <br /> <span class="text-sm font-normal">Montgomery Blair High School</span>',
        description: ``,
      },
      {
        title:
          '<span class="text-primary">SCDC - States</span> <br /> <span class="font-normal">February</span> <br /> <span class="text-sm font-normal">College Park Marriot</span>',
        description: ``,
      },
      {
        title:
          '<span class="text-primary">ICDC - Internationals</span> <br /> <span class="font-normal">April 26-29</span> <br /> <span class="text-sm font-normal">Orlando, Florida</span>',
        description: ``,
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />
</div>
      
<!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Join DECA',
        href: 'https://github.com/onwidget/astrowind',
      },
    ]}
  >
<Fragment slot="title"> 
  <span class="bg-gradient-title">Join DECA Now</span>
</Fragment>    
<Fragment slot="subtitle">
      Fly to Orlando and Disney world. <br> Learn, compete, and have fun!
</Fragment>
  </CallToAction>


<!-- 
Features Widget ***************
  <Features
    id="features"
    title="Competition Dates"
    columns={3}
    items={[
      {
        title: 'Regionals',
        description:
          'January 4th, 2025 <br> Montgomery Blair High School',
        icon: 'tabler:artboard',
      },
      {
        title: 'SCDC - States',
        description: 'February <br> College Park Marriot',
        icon: 'tabler:map',
      },
      {
        title: 'ICDC - Internationals',
        description:
          'April 26-29 <br> Orlando, Florida',
        icon: 'tabler:rocket',
      },
    ]}
  />
-->
</Layout>
