---
// src/components/ui/TopFilter.astro
let clusterOptions = ['Finance', 'Business Admin', 'Entrepreneurship', 'Hospitality & Tourism', 'Marketing', 'Personal Financial Literacy'];
let selectedCluster = 'Finance';

function selectCluster(cluster) {
  selectedCluster = cluster;
}
---

<div class="flex justify-left m-2">
  {clusterOptions.map((cluster) => (
    <button
      key={cluster}
      class={`px-4 py-2 rounded-md text-white focus:outline-none ${selectedCluster === cluster ? 'bg-blue-500' : 'bg-gray-300'}`}
      on:click={() => selectCluster(cluster)}
    >
      {cluster}
    </button>
  ))}
</div>
